body {
	/*
	padding-top					: 128px;
	*/
	padding-bottom				: 60px;
	background-color			: #FFF;
}

.nav-out{
	font-size: 32px;
}

.box-link{
	margin: 10px 0 20px;
	font-size: 18px;
	font-weight: bold;
}
.box-link img{
	margin-bottom: 10px;
}

p.messages {
	margin						: 10px 0;
	padding						: 15px;
}

button.bt-icon .glyphicon{
	float						: right;
	margin-right				: 10px;
	vertical-align				: middle;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.main-link{
	padding: 15px;
	font-size: 1.2em;
}

.main-link > span.glyphicon{
	font-size: 6em;
	color: #22C20A;
}

.btn-menu{
	background-color: #BF0029;
	border-color: #BF0029;
	color: #FFF;
}